/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/righteous/v13/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
  font-family: "Poppins", sans-serif;
}

/* navigation */
@media only screen and (min-width:1268px){
  header {
    background-color: #4617fe;
    height: 450px;
  }
  nav {
    display: grid;
    justify-content: end;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 14px;
    align-items: center;
    padding-right: 32px;
    padding-top: 7px;
  }
  /* sign up button */
  .nav-item-active {
    width: 79px;
    height: 25px;
    border: 2px solid white;
    color: #7b5afd;
    text-align: center;
    background-color: white;
    border-radius: 2px;
  }
  .nav-item {
    color: white;
  }
  .logo {
    padding-left: 55px;
  }
  .header-text {
    color: white;
    width: 953px;
  }
  .header-text img {
    padding-left: 55px;
    position: relative;
    top: 80px;
  }
  .header-text h2 {
    padding-left: 55px;
    font-size: 42px;
    position: relative;
    top: 43px;
  }
  .header-text p {
    padding-left: 55px;
    position: relative;
    top: 20px;
  }
  .header-image {
    float: right;
    position: relative;
    bottom: 280px;
  }
}
@media only screen and (max-width:1268px){
  nav{
    display: none;
  }
  .nav-item-active{
    display: none;
  }
  header {
    background-color: #4617fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .header-text {
    color: white;
    text-align: center;
  }
  .logo{
    margin-top: 20px;
  }
  .header-image{
    width: 400px;
  }
}

/* COMPANIES SECTION */
@media only screen and (min-width:1268px){
.companies {
  display: flex;
  justify-content: space-around;
  font-family: "Righteous";
  padding: 24px;
  position: relative;
  right: 48px;
  font-size: large;
}
.company-items {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
}

@media only screen and (max-width:1268px){
  .companies {
    display: flex;
    justify-content:space-between;
    font-family: "Righteous";
    padding: 24px;
    font-size: large;
  }
  .company-items {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
}

/* API SECTION */
@media only screen and (min-width:1268px){
.api {
  padding-left: 55px;
  height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 75px;
  flex-wrap: nowrap;
}
.api-heading {
  font-weight: 900;
}
.api-heading::after {
  content: url(/images/My-project-1.jpg);
  border-radius: 25px;
  position: relative;
  left: 1108px;
  top: 157px;
}
/* CARDS */
.cards {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px;
  grid-column-gap: 40px;
  width: 1450px;
  align-items: center;
}

.card-active {
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.16),
    0px 1px 10px 0 rgba(0, 0, 0, 0.12);
  align-self: start;
  padding: 9px;
  border-radius: 13px;
}
.card {
  height: 189px;
}
.card-head-active {
  margin-bottom: 0px;
  color: #6741fc;
}
.card-body {
  margin-top: 0px;
}
.card-head {
  margin-bottom: 0px;
}
}

@media only screen and (max-width:1268px){
  .api {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    flex-wrap: nowrap;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
  }
  .card-active {
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.16),
      0px 1px 10px 0 rgba(0, 0, 0, 0.12);
    align-self: start;
    padding: 9px;
    border-radius: 13px;
  }
  .card {
    height: 189px;
  }
  .card-head-active {
    margin-bottom: 0px;
    color: #6741fc;
  }
  .card-body {
    margin-top: 0px;
  }
  .card-head {
    margin-bottom: 0px;
  }
}


/* BLOG HEADING */
@media only screen and (min-width:1268px){
.blog-heading {
  padding-left: 56px;
  padding-top: 90px;
}
.blog-heading h1::after {
  content: "See All Article";
  font-size: small;
  color: #5b33fc;
  position: relative;
  left: 1100px;
}
.blog-cards {
  display: flex;
  justify-content: space-between;
  padding-left: 54px;
}
.blog-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.blog-content {
  padding-left: 67px;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.16),
    0px 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 252px;
  height: 288px;
}
.blog-bottom {
  position: relative;
  top: 252px;
  right: 255px;
}

.blog-author {
  position: relative;
  top: 130px;
  right: 123px;
  font-size: smaller;
}
}

 @media only screen and(max-width:1268px){
  .blog-heading {
    text-align: center;
  }
  .blog-heading h1::after {
    content: "";
    
  }
  .blog-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  .blog-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    
  }
  .blog-content {
    padding-left: 67px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.16),
      0px 1px 10px 0 rgba(0, 0, 0, 0.12);
    width: 252px;
    height: 288px;
  }
  .blog-bottom {
    position: relative;
    
  }
  .blog-author {
    display: none;
  }
  } 

/* FAQ SECTION */
@media only screen and (min-width: 1094px)
{
  .faq-section {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
  
    height: 324px;
  }
  .faq-content {
    background: #e9edff;
    width: 904px;
    padding-left: 55px;
  }
  .faq-content h1 {
    font-size: xx-large;
    margin-bottom: 0;
  }
  .faq-content p {
    margin-top: 7px;
  }
  .faq-content button {
    width: 107px;
    height: 35px;
    background-color: #5a31fc;
    border: 1px;
    color: white;
    border-radius: 5px;
  }
  .faq-image {
    background: #e9edff;
  }
}
@media only screen and (max-width: 1094px){
  .faq-section {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 90px;
  }
  .faq-content {
    /* width: 904px;
    padding-left: 55px; */
  }
  .faq-content h1 {
    font-size: xx-large;
    margin-bottom: 0;
    text-align: center;
  }
  .faq-content p {
    margin-top: 7px;
    text-align: center;
    width: 500px;
    /* margin-left: 185px; */
  }
  .faq-content button {
    width: 107px;
    height: 35px;
    background-color: #5a31fc;
    border: 1px;
    color: white;
    border-radius: 5px;
    margin-left: 200px;
  }
  .faq-content h4{
    text-align: center;
  }
  .faq-image{
    display: none;
  }
}

/* DOWNLOAD SECTION */
@media only screen and (min-width:1010px){
  .download-section {
    display: flex;
    padding-top: 90px;
    padding-left: 55px;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  
  .download-content span {
    font-weight: lighter;
  }
  .download-email{
    align-self: center;
  }
  .download-email input{
    width: 507px;
  height: 50px;
  border-radius: 28px;
  border: 1px;
  background-color: #e9edff;
  color: black;
  padding-left: 30px;
  }
  .download-email button{
    width: 135px;
  height: 41px;
  border-radius: 20px;
  border: 1px;
  position: relative;
  right: 145px;
  background-color: #5a31fc;
  color: white;
  }
}
@media only screen and (max-width:1010px) {
  .download-section {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 55px;
    padding-bottom: 60px;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .download-content span {
    font-weight: lighter;
  }
  .download-email button{
    margin-top:5px;
  }
  .download-email input{
    width: 400px;
  height: 50px;
  border-radius: 28px;
  border: 1px;
  background-color: #e9edff;
  color: black;
  padding-left: 30px;
  }
  .download-email button{
    width: 135px;
  height: 41px;
  border-radius: 20px;
  border: 1px;
  margin-top:5px;
  background-color: #5a31fc;
  color: white;
  }
}

/* FOOTER SECTION */
@media only screen and (min-width: 966px){
  .footer-section{
    background-color: #4719fe;
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }
  
  .list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    grid-column-gap: 18px;
    position: relative;
  right: 42px;
  color:white;
  }
  li:nth-child(3)::before{
    content:"|  ";
    padding-right: 9px;
  }
  li:nth-child(4)::before{
    content:"|  ";
    padding-right: 9px;
  }
  li:nth-child(5)::before{
    content:"|  ";
    padding-right: 9px;
  }
  .footer-logos{
  padding:8px;
  }
  .logos-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto auto;
    grid-column-gap: 18px;
    position: relative;
  right: 46px;
  color:white;
  }
  .logos-list li:nth-child(2)::before{
    content:"|  ";
    padding-right: 9px;
  }
}

@media only screen and (max-width:966px) {
  .footer-section{
    background-color: #4719fe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px;
  }
  
  .list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap:10px;
    justify-content: flex-start;
  color:white;
  }
  .footer-logos{
  padding:8px;
  }
  .logos-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto auto;
    grid-column-gap: 18px;
    justify-content:flex-start;
    position: relative;
  right: 46px;
  color:white;
  }
}


